In [87]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np
from sklearn import linear_model

In [233]:
data = pd.read_csv('sample_forecasting_data.csv')
forecast_period = pd.read_csv('foreacast_period.csv')
len_FP = len(forecast_period)

In [234]:
data.head(3)

   Month  year JobCode  Count Year_Month
0      1  2016       A     14    2016_01
1      2  2016       A     16    2016_02
2      3  2016       A     19    2016_03

In [235]:
forecast_period.head()

   Month  year  JobCode Year_Month  Count
0     11  2016      NaN    2017_11    NaN
1     12  2016      NaN    2017_12    NaN

In [224]:
def empty_df():
    empty = pd.DataFrame({'Month' : [np.nan], 'year' : [np.nan] , 'JobCode' : [np.nan], 'Year_Month' : [np.nan], 'Count' : [np.nan], 'MA' : [np.nan]})
    empty = empty[['Month', 'year', 'JobCode', 'Year_Month', 'Count']]
    empty = empty.iloc[1:]
    
    return empty

In [180]:
def data_split(finaldata):
    cut = len(finaldata)-1
    training_set = finaldata[0:cut]
    test_set = finaldata[cut:]
    
    # setting up training and test set as numpy arrays
    training_set_features = training_set[['Month', 'MA']].values
    training_set_labels = training_set['Count'].values
    test_set_features = test_set[['Month', 'MA']].values
    #test_set_labels = test_set['Count'].values
    
    test_set_features
    
    return training_set_features, training_set_labels, test_set_features

In [125]:
def linmod(x, y ,z):
    reg = linear_model.LinearRegression(normalize=True)

    # fitting the training set in the model
    reg.fit(x,y)
    pred = reg.predict(z)
    
    return pred

In [227]:
combined = empty_df()
for category in data['JobCode'].unique():
    df_slice = data[data['JobCode'] == category]
    forecast_period['JobCode'] = category 
    for i in range(len_FP):
        next_period = forecast_period.iloc[[i]]
        df_slice = pd.concat([df_slice, next_period])
        df_slice.reset_index(inplace = True)
        df_slice['MA'] = df_slice['Count'].rolling(min_periods=1,window=3).mean().shift(1)
            
        x1, y1, x2 = data_split(df_slice[1:])
        prediction = linmod(x1,y1,x2)
            
        df_slice = df_slice[['Month', 'year', 'JobCode', 'Year_Month', 'Count', 'MA']]
        df_slice.loc[len(df_slice) - 1,'Count'] = round(prediction,0)
    combined = pd.concat([combined, df_slice])
combined = combined[['Month', 'year', 'JobCode', 'Year_Month', 'Count', 'MA']]

In [236]:
combined

    Month    year JobCode Year_Month  Count          MA
0     1.0  2016.0       A    2016_01   14.0         NaN
1     2.0  2016.0       A    2016_02   16.0   14.000000
2     3.0  2016.0       A    2016_03   19.0   15.000000
3     4.0  2016.0       A    2016_04   11.0   16.333333
4     5.0  2016.0       A    2016_05   20.0   15.333333
5     6.0  2016.0       A    2016_06   11.0   16.666667
6     7.0  2016.0       A    2016_07   19.0   14.000000
7     8.0  2016.0       A    2016_08   20.0   16.666667
8     9.0  2016.0       A    2016_09   12.0   16.666667
9    10.0  2016.0       A    2016_10   19.0   17.000000
10   11.0  2016.0       A    2016_11   11.0   17.000000
11   12.0  2016.0       A    2016_12   18.0   14.000000
12    1.0  2017.0       A    2017_01   18.0   16.000000
13    2.0  2017.0       A    2017_02   18.0   15.666667
14    3.0  2017.0       A    2017_03   11.0   18.000000
15    4.0  2017.0       A    2017_04   13.0   15.666667
16    5.0  2017.0       A    2017_05   12.0   14.000000
17    6.0  2017.0       A    2017_06   18.0   12.000000
18    7.0  2017.0       A    2017_07   12.0   14.333333
19    8.0  2017.0       A    2017_08   11.0   14.000000
20    9.0  2017.0       A    2017_09   18.0   13.666667
21   10.0  2017.0       A    2017_10   19.0   13.666667
22   11.0  2016.0       A    2017_11   15.0   16.000000
23   12.0  2016.0       A    2017_12   14.0   17.333333
0     1.0  2016.0       B    2016_01  171.0         NaN
1     2.0  2016.0       B    2016_02  156.0  171.000000
2     3.0  2016.0       B    2016_03  105.0  163.500000
3     4.0  2016.0       B    2016_04  156.0  144.000000
4     5.0  2016.0       B    2016_05  152.0  139.000000
5     6.0  2016.0       B    2016_06  188.0  137.666667
..    ...     ...     ...        ...    ...         ...
18    7.0  2017.0       B    2017_07  131.0  156.000000
19    8.0  2017.0       B    2017_08  104.0  141.666667
20    9.0  2017.0       B    2017_09  180.0  113.666667
21   10.0  2017.0       B    2017_10  199.0  138.333333
22   11.0  2016.0       B    2017_11  155.0  161.000000
23   12.0  2016.0       B    2017_12  144.0  178.000000
0     1.0  2016.0       C    2016_01   10.0         NaN
1     2.0  2016.0       C    2016_02    3.0   10.000000
2     3.0  2016.0       C    2016_03   10.0    6.500000
3     4.0  2016.0       C    2016_04    7.0    7.666667
4     5.0  2016.0       C    2016_05    8.0    6.666667
5     6.0  2016.0       C    2016_06    2.0    8.333333
6     7.0  2016.0       C    2016_07    4.0    5.666667
7     8.0  2016.0       C    2016_08    3.0    4.666667
8     9.0  2016.0       C    2016_09    5.0    3.000000
9    10.0  2016.0       C    2016_10    8.0    4.000000
10   11.0  2016.0       C    2016_11    6.0    5.333333
11   12.0  2016.0       C    2016_12    6.0    6.333333
12    1.0  2017.0       C    2017_01    8.0    6.666667
13    2.0  2017.0       C    2017_02    9.0    6.666667
14    3.0  2017.0       C    2017_03    6.0    7.666667
15    4.0  2017.0       C    2017_04    6.0    7.666667
16    5.0  2017.0       C    2017_05    1.0    7.000000
17    6.0  2017.0       C    2017_06    9.0    4.333333
18    7.0  2017.0       C    2017_07    4.0    5.333333
19    8.0  2017.0       C    2017_08    2.0    4.666667
20    9.0  2017.0       C    2017_09    2.0    5.000000
21   10.0  2017.0       C    2017_10    7.0    2.666667
22   11.0  2016.0       C    2017_11    5.0    3.666667
23   12.0  2016.0       C    2017_12    4.0    4.666667

[72 rows x 6 columns]